<form *ngIf="!qid" class="form" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-select class="form-control" [formControlName]="'questionType'">
      <mat-option class="center-block" value="choice">选择题</mat-option>
      <mat-option class="center-block" value="answer">问答题</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <div *ngIf="questionType.value=='choice'" formArrayName="choices">
    <mat-form-field class="full-width">
      <input matInput type="text" class="form-control" placeholder="请输入问题：" [formControl]="content">
    </mat-form-field>
    <br>
    <div *ngFor="let x of choices.controls; let i = index" [formGroupName]="i">
      <h5 style="display: inline">选项 {{i + 1}} : </h5>

      <label style="display: inline">
        <mat-form-field>
          <input matInput type="text" class="form-control" placeholder="输入选项内容：" formControlName="content">
        </mat-form-field>
      </label>

      <label><input style="display: inline" type="radio" name="correct" [value]="i"
                    [formControl]="correct" (change)="test()" [checked]="i === correct.value"></label> &nbsp;

      <button mat-raised-button (click)="deleteChoice(i)" type="button" [disabled]="choices.length <= 2">
        <mat-icon>delete</mat-icon>
        删除选项
      </button>
      <!-- End of the repeated address template -->
    </div>
    <br>
    <button mat-raised-button (click)="addChoices()" type="button">
      <mat-icon>add</mat-icon>
      添加选项
    </button>
  </div>

  <div *ngIf="questionType.value=='answer'">
    <mat-form-field class="full-width">
      <input matInput type="text" class="form-control" placeholder="请输入问题：" [formControl]="content">
    </mat-form-field>

    <br>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="请输入问题正确答案：" [formControl]="correct"></textarea>
    </mat-form-field>
  </div>

  <br>
  <button mat-raised-button color="primary" type="submit" class="btn btn-success">提交问题</button>
  &nbsp;
</form>

<button (click)="test()">test</button>

<ng-container *ngIf="qid">
  <ng-container *ngIf="question$ | async as question; else loading">

    <form *ngIf="!isModified" class="form" [formGroup]="questionForm" (ngSubmit)="modify()">
      <div *ngIf="question_type.value=='multipleChoice'">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-label>问题： {{question.content}}</mat-label>
        <br>
        <mat-radio-group>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-radio-button *ngFor="let x of getAnswerKeys(question)" [value]="x">{{x}}. {{question.answers[x]}}
          </mat-radio-button>
        </mat-radio-group>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-label>正确答案：</mat-label>
        <mat-label>{{question.correct}}</mat-label>
      </div>

      <div *ngIf="question_type.value=='shortAnswer'">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-label>问题： {{question.content}}</mat-label>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-label>正确答案：</mat-label>
        <mat-label>{{question.correct}}</mat-label>
      </div>
      <br>
      <button mat-raised-button color="primary" type="submit" class="btn btn-success">修改问题</button>
    </form>


    <form *ngIf="isModified" class="form" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div *ngIf="question_type.value=='multipleChoice'" formArrayName="choices">
        <mat-form-field class="full-width">
          <input matInput type="text" class="form-control" placeholder="请输入问题内容：" [formControl]="content">
        </mat-form-field>
        <br>
        <div *ngFor="let x of choices.controls; let i = index" [formGroupName]="i">
          <h5 style="display: inline">选项 {{i + 1}} :</h5>
          <mat-label style="display: inline">
            <mat-form-field>
              <input matInput type="text" class="form-control" placeholder="输入选项内容：" formControlName="content">
            </mat-form-field>
          </mat-label>

          <label><input style="display: inline" type="radio" name="correct" [value]="i"
                        [formControl]="correct" (change)="test()" [checked]="i === correct.value"></label> &nbsp;

          <button mat-raised-button (click)="deleteChoice(i)" type="button" [disabled]="choices.length <= 2">
            <mat-icon>delete</mat-icon>
            删除选项
          </button>
          <!-- End of the repeated address template -->
        </div>
        <br>
        <button mat-raised-button (click)="addChoices()" type="button">
          <mat-icon>add</mat-icon>
          添加选项
        </button>
      </div>

      <form class="full-width" *ngIf="question_type.value=='shortAnswer'">
        <mat-form-field class="full-width">
          <input matInput class="form-control" placeholder="请输入问题内容：" [formControl]="content">
        </mat-form-field>
        <br>

        <mat-form-field class="full-width">
          <textarea matInput class="form-control" placeholder="请输入问题答案:" [formControl]="correct"></textarea>
        </mat-form-field>
      </form>

      <br>
      <button mat-raised-button color="primary" type="submit" class="btn btn-success">提交问题</button>
      &nbsp;
    </form>
  </ng-container>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</ng-container>
