div {
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: aliceblue;
  padding-top: 1%;
  padding-bottom: 5%;
}

.form {
  padding-left: 15%;
  padding-right: 15%;
}

.full-width {
  height: 100px;
  width: 100%;
}

.mat-flat-button {
  margin-left: 40%;
  margin-right: 15%;
}
