<ng-container *ngIf="question$ | async as question; else loading">

  <mat-form-field (ngSubmit)="onSubmit()">
    <div *ngIf="type=='multipleChoice'">
      <mat-label>问题： {{question.content}}</mat-label>
      <br>
      <mat-radio-group>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-button *ngFor="let x of getAnswerKeys(question)" [value]="x">{{x}}. {{question.answers[x]}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="type=='shortAnswer'">
      <mat-label>问题： {{question.content}}</mat-label>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field>
        <textarea matInput placeholder="请输入问题答案："></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" [disabled]="" class="btn btn-success">提交</button>

  </mat-form-field>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
