<form (ngSubmit)="onSubmit()">
  <div *ngIf=" question.type=='multipleChoice'">
    <label>问题： {{content}}</label>
    <mat-radio-group>
      &nbsp;&nbsp;
        <mat-radio-button *ngFor="let x of answerKeys" [value]="x">{{x}}. {{question.answers[x]}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="question.type=='shortAnswer'">
      <label>问题： {{content}}</label>
      <br>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="请输入问题答案："></textarea>
      </mat-form-field>
  </div>
 &nbsp;

  <button mat-raised-button type="submit" [disabled]="" class="btn btn-success">提交</button>

</form>
