<div *ngIf="user == null" class="nav">
  <button mat-button [matMenuTriggerFor]="menu" class="button">未登录</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>登录</button>
    <button mat-menu-item>注册</button>
  </mat-menu>
</div>

<div *ngIf="user != null" class="nav">
  <button mat-button [matMenuTriggerFor]="menu" class="button"><mat-icon>person</mat-icon>{{user.name}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>修改密码</button>
    <button mat-menu-item>注销</button>
  </mat-menu>
</div>

<button (click)="test233()">test233</button>
