.nav {
  margin-bottom: 5%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aliceblue;
}

.button {
  width: fit-content;
  color: white;
  float: right;
}

mat-label{
  color: #fed63f;
  margin-left: 10%;
  font-family: "Signika", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 40px;
}
